<br>
<br>
<br>
<br>
<h1>Set User Role</h1>
<tbody>
	<tr>
		<h4><td>User-Email</td>
		<td>Role</td></h4>
	</tr>
	<br>
	<% @user.each do |user| %>
		<tr>
			<td><%= user.email %></td>
			<td><%= user.role %></td>
			<td><%= link_to "Edit", edit_user_registration_path %></td>
			<br>
		</tr>
	<% end %>
</tbody>

<%#= form_for(User, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="field">
    <%#= f.label :role %><br />
    <%#= f.text_field :role %>
  </div>

  <div class="actions">
    <%#= f.submit "Update" %>
  </div>
<%# end %>